<a href="https://wa.me/51999999999" class="whatsapp" target="_blank" aria-label="WhatsApp">
  <svg viewBox="0 0 32 32" width="26" height="26" fill="white">
    <path d="M16.001 2.002c-7.732 0-14 6.268-14 14 0 2.47.64 4.878 1.856 7.006L2 30l7.176-1.82A13.93 13.93 0 0 0 16 30c7.732 0 14-6.268 14-14s-6.268-13.998-13.999-13.998zm0 25.465a11.4 11.4 0 0 1-5.82-1.602l-.416-.247-4.258 1.08 1.138-4.148-.27-.43A11.39 11.39 0 0 1 4.6 16c0-6.284 5.116-11.4 11.4-11.4 3.044 0 5.903 1.187 8.058 3.343A11.33 11.33 0 0 1 27.4 16c0 6.284-5.116 11.467-11.399 11.467z"/>
  </svg>
</a>