---
import "../styles/global.css";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Moda Elegante</title>
    <meta name="description" content="Moda moderna y elegante" />
  </head>

  <body>
    <slot />
  </body>
</html>